@font-face {
  font-family: "Basier Circle Embedded";
  src: url("BasierCircle/basiercircle-regular-webfont.eot");
  src: url("BasierCircle/basiercircle-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("BasierCircle/basiercircle-regular-webfont.woff2") format("woff2"),
    url("BasierCircle/basiercircle-regular-webfont.woff") format("woff"),
    url("BasierCircle/basiercircle-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Basier Circle Embedded";
  src: url("BasierCircle/basiercircle-medium-webfont.eot");
  src: url("BasierCircle/basiercircle-medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("BasierCircle/basiercircle-medium-webfont.woff2") format("woff2"),
    url("BasierCircle/basiercircle-medium-webfont.woff") format("woff"),
    url("BasierCircle/basiercircle-medium-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Basier Circle Embedded";
  src: url("BasierCircle/basiercircle-semibold-webfont.eot");
  src: url("BasierCircle/basiercircle-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("BasierCircle/basiercircle-semibold-webfont.woff2") format("woff2"),
    url("BasierCircle/basiercircle-semibold-webfont.woff") format("woff"),
    url("BasierCircle/basiercircle-semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Basier Circle Embedded";
  src: url("BasierCircle/basiercircle-bold-webfont.eot");
  src: url("BasierCircle/basiercircle-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("BasierCircle/basiercircle-bold-webfont.woff2") format("woff2"),
    url("BasierCircle/basiercircle-bold-webfont.woff") format("woff"),
    url("BasierCircle/basiercircle-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
